* {
  font-size: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100vh;
  background-color: #eee;
}

.navbar-content {
  background-color: #113977;
  height: 88px;
}

.navbar-content > img {
  margin-left: 18px;
  margin-top: 14px;
  width: 106px;
  height: 60px;
}

.text-user-navbar {
  font-size: 1.2rem;
  color: #fff;
}

.button-editar,
.button-excluir {
  background-color: transparent;
  font-size: 0.875rem;
  border: none;
  opacity: 80%;
  cursor: pointer;
}

/* SEARCH USERS */
.section-card-container {
  background-color: #fff;
}

/* UTILITIES */
.form-input-container {
  width: 234px;
}

.button-container {
  background-color: #113977;
  color: #fff;
}

.button-container:hover {
  background-color: #113977;
  opacity: 95%;
}

.thead-content > tr {
  color: #666666;
  font-weight: bold;
}
.thead-content > tr > th {
  font-size: 0.875rem;
  font-weight: bold;
}
